<div class="span3">
  <div class="well sidebar nav">
    <ul class="nav nav-list">
      <li class= "<%= is_active?("") %>" data-original-title=" Takes you to the Admin Home " id="home" ><%=link_to "Admin Home", users_dashboard_path%></li>

      <li class="nav header"></li>

      <li class= "<%= is_active?("dashboard") %>" data-original-title=" Contains Branch Related Commands " id="branchdb"  ><%=link_to "Branch Dashboard", branches_dashboard_path%></li>
      <li class= "<%= is_active?("new") %>" data-original-title=" Creates a new Branch " id="createbranch" ><%=link_to "Create Branch", new_branch_path%></li>
      <li class= "<%= is_active?("index") %>" data-original-title=" Shows all Branches " id="showbranch" ><%=link_to "Show Branches", branches_path%></li>

      <li class="nav-header"> Recently Created Branche</li>
      <li><a href="#"><%= recent_branch %></a></li>
      <li class="nav-header">Most Active Branch</li>
      <li><a href="#"><%= most_active  %></a></li>
      <li class="nav-header">Least Active Branch</li>
      <li><a href="#">Branch 3 </a></li>

      <li class="nav-header">Total Number of Branches</li>
      <li><a href="#"><%= totalBranches %> </a></li>

    </ul>
  </div>
</div>

<script type="text/javascript ">
    $(function ()
    { $("#home").tooltip()
        $("#branchdb").tooltip()
        $("#createbranch").tooltip()
        $("#showbranch").tooltip()


    });
</script>
