<div class="row-fluid" >

  <%= render "sidebar" %>


  <div class="span9">
    <div class="hero-unit">
      <%=  render 'branchesfilter' %>
      <table class="zebra-striped" id="sortTableExample">
        <thead>
        <tr>
          <th> Branch ID:</th>
          <th>Branch Name</th>
          <th>Branch Country </th>
          <th>Branch State </th>
          <th>Branch Address </th>


          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @branch.each do |branch| %>

            <tr>
              <td>BR-<%= branch.id %></td>
              <td><%= branch.name %></td>
              <td><%= branch.country%></td>
              <td><%= branch.branchstate%></td>
              <td><%= branch.branchaddress%></td>
              <td><%= link_to 'More ',branch , :class => 'btn btn-mini'%></td>
              <td><%= link_to 'Edit', edit_branch_path(branch),:class => 'btn btn-mini' %></td>



              <td><%= link_to 'Destroy', branch, :confirm => 'Are you sure You want to delete this branch?',
                              :method => :delete , :class => 'btn btn-mini btn-danger' %></td >
        <% end %>
        </tr>
        </tbody>
      </table>
      <%= paginate @branch %>

    </div>
  </div>
</div>