<div class="container">

  <div class="row">
    <div class="span5">
      <p></p>
    </div>

    <div class="span5">
      <%= form_tag sessions_path, :class=>"well form-inline" do %>
          <span class="help-inline">UserName</span>
          <%= text_field_tag :email, params[:email],:placeholder => 'Email' %>
          <span class="help-inline">Password</span>
          <%= password_field_tag :password %>
          <%= submit_tag "Log in", :class=>"btn btn-success"%>
          <%= link_to "Forgot Password", new_password_reset_path %>
      <% end %>
    </div>

    <div class="span5">
      <p></p>
    </div>
  </div>
</div>
