<div class="row-fluid" >

  <%= render 'sidebar' %>

  <div class="span9">
    <div class="hero-unit">

      <%= form_for @employee do |f|%>

          <%= render 'form' ,:f => f%>

          <%= f.submit :class=> "btn btn-primary" %>
          <%= link_to "Delete employee" , @employee, :method =>:delete,:confirm =>"You Sure?",
                      :title => "Delete #{@employee.firstname}",:class => "btn btn-danger" %>
          <%= link_to 'Cancel', employees_path,:class => "btn" %>

      <% end %>
    </div>
  </div>
</div>
