<div class="row-fluid" >

  <%= render "sidebar" %>


  <div class="span9">
    <div class="hero-unit">

      <%= render 'employeefilter'  %>
      <table class="zebra-striped" id="sortTableExample">
        <thead>
        <tr>
          <th> First Name</th>
          <th>Second Name</th>
          <th>level </th>
          <th>Sex</th>
          <th>Registered for</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @employee.each do |employee| %>

            <tr>
              <td><%= employee.firstname %></td>
              <td><%= employee.lastname %></td>
              <td><%= employee.level %></td>
              <td><%= employee.sex %></td>
              <td><%= employee.firstname %></td>
              <td><%= link_to 'More ',employee,:class => 'btn btn-mini'%></td>
              <td><%= link_to 'Edit', edit_employee_path(employee),:class => 'btn btn-mini' %></td>



              <td><%= link_to 'Destroy', employee, :confirm => 'Are you sure?',
                              :method => :delete, :class => 'btn btn-mini btn-danger' %></td >
        <% end %>
        </tr>
        </tbody>
      </table>

      <%= paginate @employee %>

    </div>
  </div>
</div>