<div class="row-fluid" >
  <% if current_user.admin? %>
  <%= render "sidebar" %>
      <% else %>
      <%= render 'employeesidebar' %>
      <% end %>

  <div class="span9">
    <div class="hero-unit">
            <fieldset class="">
        <legend>Details for <%= @employee.firstname.capitalize %></legend>

      <table>
        <tbody>

        <tr>
          <td >First Name</td>
          <td ><%= @employee.firstname%></td>
        </tr>

        <tr>
          <td >Last Name</td>
          <td ><%= @employee.lastname%></td>
        </tr>

        <tr>
          <td >Sex</td>
          <td ><%= @employee.sex%></td>
        </tr>

        <tr>
          <td >Mobile</td>
          <td ><%= @employee.mobile%></td >
        </tr>

        <tr>
          <td >Email Address</td>
          <td ><%= current_user.email%></td >
        </tr>

        <tr>
          <td >Level </td>
          <td >Level <%= @employee.level%> Employee</td >
        </tr>

        <tr>
          <td >Date of Joining</td>
          <td ><%= @employee.created_at.strftime("%d %b. %Y")%></td >
        </tr>


        </tbody>

      </table>
            </fieldset>
      <%= link_to 'Edit employee', edit_employee_path(@employee),:class=>"btn btn-primary" %>
      <%= link_to "Delete employee" , @employee, :method =>:delete,:confirm =>"You Sure?",
                  :title => "Delete {@employee.name}",:class => "btn btn-danger" %>
      <%= link_to 'Cancel', employees_dashboard_path,:class => "btn" %>
    </div>
  </div>
</div>

