<div class="row-fluid" >
  <%= render "sidebar" %>

  <div class="span9">
    <div class="hero-unit">

      <table>
        <tbody>
        <tr>
          <td>|<%= @employee.firstname %>'s Details|</td>
          <td></td>
        </tr>
        <tr>
          <td >First Name</td>
          <td ><%= @employee.firstname%></td>
        </tr>

        <tr>
          <td >Last Name</td>
          <td ><%= @employee.lastname%></td>
        </tr>

        <tr>
          <td >Sex</td>
          <td ><%= @employee.sex%></td>
        </tr>

        <tr>
          <td >Mobile</td>
          <td ><%= @employee.mobile%></td >
        </tr>

        <tr>
          <td >Email Address</td>
          <td ><%= current_user.email%></td >
        </tr>

        <tr>
          <td >Date of Joining</td>
          <td ><%= @employee.created_at.strftime("%d %b. %Y")%></td >
        </tr>


        </tbody>

      </table>
      <%= link_to 'Edit employee', edit_employee_path(@employee),:class=>"btn btn-primary" %>
      <%= link_to "Delete employee" , @employee, :method =>:delete,:confirm =>"You Sure?",
                  :title => "Delete {@employee.name}",:class => "btn btn-danger" %>
      <%= link_to 'Cancel', employees_path,:class => "btn" %>
    </div>
  </div>
</div>

