<div class="content" id="index">


<%=link_to "", users_path,:style =>"background-image:url(/images/wunderman_thumbnail.gif)" %>
<%=link_to "", users_path,:style =>"background-image:url(/images/wunderman_thumbnail.gif)" %>
<%=link_to "", users_path,:style =>"background-image:url(/images/wunderman_thumbnail.gif)" %>

  <%=link_to "", users_path,:style =>"background-image:url(/images/wunderman_thumbnail.gif)" %>
  <%=link_to "", users_path,:style =>"background-image:url(/images/wunderman_thumbnail.gif)" %>
  <%=link_to "", users_path,:style =>"background-image:url(/images/wunderman_thumbnail.gif)" %>
    </div>