<div class="content" id="index">


<%=link_to "", users_path,:style =>"background-image:url(/images/3.jpg)" %>
<%=link_to "", users_path,:style =>"background-image:url(/images/3.jpg)" %>
<%=link_to "", users_path,:style =>"background-image:url(/images/3.jpg)" %>
<%=link_to "", users_path,:style =>"background-image:url(/images/3.jpg)" %>
<%=link_to "", users_path,:style =>"background-image:url(/images/3.jpg)" %>
<%=link_to "", users_path,:style =>"background-image:url(/images/3.jpg)" %>

    </div>