<script type="text/javascript ">
    $(function ()
    { $("#access").tooltip()
        $("#email").tooltip()
        $("#password").tooltip()
        $("#passwordconfirm").tooltip()
        $("#role").tooltip()


    });
</script>

<div class="clearfix">
  <label>Enter Access Pin</label>
  <div class="input">
    <%=f.text_field :validatepin %>
    <a href="#" id="access" rel="tooltip" data-original-title="Ask your Employer for this, Usually 10 Digits">
      <i class="icon-exclamation-sign"></i>

    </a>
  </div>
</div>


<div class="clearfix">
  <label>Email</label>
  <div class="input">
    <%=f.text_field :email %>
    <a href="#" id="email" rel="tooltip" data-original-title="You Would need to Validate this">
      <i class="icon-exclamation-sign"></i>

    </a>
  </div>
</div>

<div class="clearfix">
  <label>Password</label>
  <div class="input">
    <%=f.password_field :password %>
    <a href="#" id="password" rel="tooltip" data-original-title="Choose Wisely">
      <i class="icon-exclamation-sign"></i>

    </a>
  </div>
</div>

<div class="clearfix">
  <label>Password Confirmation</label>
  <div class="input">
    <%=f.password_field :password_confirmation %>
    <a href="#" id="passwordconfirm" rel="tooltip" data-original-title="So You don't forget it">
      <i class="icon-exclamation-sign"></i>

    </a>
  </div>
</div>


<% if logged_in? and current_user.admin?  %>
<div class="clearfix">
  <label>Select User Role:</label>
  <div class="input">
    <%=f.select :temp, options_for_select(roles) %>
    <a href="#" id="role" rel="tooltip" data-original-title="What kind of User is this?">
      <i class="icon-exclamation-sign"></i>

    </a>
  </div>
</div>
<% end %>


