<form action = "<%= users_path %>" method = "get" id="search">
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>  Or Filter by:
    <%= select_tag "usersfilter", options_for_select([ "", "All Employees", "All Trainers","Non Active Users" ], "MasterCard") %>
    <%= submit_tag "Filter Results", :name => nil %>
  </p>
</form>