<div class="row-fluid" >

  <%= render 'sidebar' %>
  <div class="span9">
    <div class="hero-unit">

      <%= form_for @user do |f|%>

          <%= render 'form' ,:f => f%>

          <%= f.submit :class=> "btn btn-primary" %>
          <%= link_to "Delete User" , @user, :method =>:delete,:confirm =>"You Sure?",
                      :title => "Delete #{@user.email}",:class => "btn btn-danger" %>
          <%= link_to 'Cancel', users_path,:class => "btn" %>

      <% end %>
    </div>
  </div>
</div>

