<div class="row-fluid" >

  <%= render "sidebar" %>


  <div class="span9">
    <div class="hero-unit">
      <%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
          <% if @user.errors.any? %>
              <div class="error_messages">
                <h2>Form is invalid</h2>
                <ul>
                  <% for message in @user.errors.full_messages %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="clearfix">
            <label>Email</label>
            <div class="input">
              <%=f.text_field :email %>
              <span class="help-inline">We Would be sending an Activation link here</span>
            </div>
           </div>

            <div class="clearfix">
              <label>Password</label>
              <div class="input">
                <%=f.password_field :password %>
                <span class="help-inline">Please Choose Wisely</span>
              </div>
              </div>

              <div class="clearfix">
                <label>Password Confirmation</label>
                <div class="input">
                  <%=f.password_field :password_confirmation %>
              </div>
              </div>

          <div class="actions">
            <%= f.submit "Sign Up", :class=> "btn btn-success" %>
            <%= link_to 'Cancel', root_path,:class => "btn" %>
          </div>
      <% end %>

    </div>
  </div>
  <div class="span5">
    <p></p>
  </div>
</div>