<div class="container">

  <%= render 'slideshow'  %>

   <br/>
  <br />
  <br />
  <div class="row">
    <div class="span5">Ankit where is ContentAnkit whesdsdsdre is Content  Ankit where is Content
      <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
     </div>

    <div class="span5">Ankit where is Content   sdsdsdsdsdsdsdsdsd
      dsdsdAnkit where is Content  Ankit where is Content
      <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    <% if logged_in? %>
    <div class="span5">Ankit where is Content   sdsdsdsdsdsdsdsdsd
      dsdsdAnkit where is Content  Ankit where is Content
      <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
        <% end %>
    <% if !logged_in? %>
    <div class="span5">
      <%= form_tag sessions_path, :class=>"welllogin form-inline" do %>
          <span class="help-inline">UserName(Email)</span>
          <%= text_field_tag :email, params[:email],:placeholder => 'Email' %>
          <span class="help-inline">Password</span>
      <%= password_field_tag :password %>
          <div class="action">
      <%= submit_tag "Log in", :class=>"btn btn-success "%>
      <%= link_to 'Sign Up', new_user_path , :class => "btn btn-primary " %>
          </div>
      <% end %>
    </div>
        <% end %>
</div>
    </div>

<script type="text/javascript">
    $(function() {
        $('#ei-slider').eislideshow({
            easing		: 'easeOutExpo',
            titleeasing	: 'easeOutExpo',
            titlespeed	: 1200
        });
    });
</script>

