<div class="container">


<div class="hero-unit">
      <h1>Idea.tolife!</h1>
      <p>Welcome, Apologies, this Page is like this Because One of the Developers, A...T has refused to provide Content. Want to find
      out Why?, Please contact him at a....@h.....l.con. Also development is ongoing, any data stored might be erased without prior Notice</p>
      <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
  <div class="row">
    <div class="span5">Ankit where is ContentAnkit whesdsdsdre is Content  Ankit where is Content
      <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
     </div>

    <div class="span5">Ankit where is Content   sdsdsdsdsdsdsdsdsd
      dsdsdAnkit where is Content  Ankit where is Content
      <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    <div class="span5">
      <%= form_tag sessions_path, :class=>"welllogin form-inline" do %>
          <span class="help-inline">UserName(Email)</span>
          <%= text_field_tag :email, params[:email],:placeholder => 'Email' %>
          <span class="help-inline">Password</span>
      <%= password_field_tag :password %>
          <div class="action">
      <%= submit_tag "Log in", :class=>"btn btn-success btn-large"%>
      <%= link_to 'Sign Up', new_user_path , :class => "btn btn-primary btn-large" %>
          </div>
      <% end %>
    </div>
</div>
    </div>
