<div class="span3">
  <div class="well sidebar nav">
    <ul class="nav nav-list">
      <li class="nav header" data-original-title=" Takes you to admin home" id="home"><%= link_to "Admin Home", users_dashboard_path %></li>

      <li class="<%= is_active?("dashboard") %>" data-original-title=" Contains Aceess Pin Related Commands" id="acessdb" ><%=link_to "Access Pin Dashboard", accesspins_dashboard_path %></li>
      <li class="<%= is_active?("new") %> "data-original-title=" Creates Access Pins" id="createpins" ><%=link_to "Create Pins", new_accesspin_path %></li>
      <li class="<%= is_active?(" index") %>" data-original-title=" Show's all Access Pins" id="showpins" ><%=link_to "Show Pins", accesspins_path %></li>

      <li class="nav-header"> Total Number of Pins</li>
      <li class=""><a href="#"><%=totalpins %></a></li >
      <li class="nav-header"> Number of Used Pins</li>
       <li class=""><a href="#"><%= usedpins %> </a></li >
       <li class="nav-header">Number of Unused Pins</li>
      <li class=><a href="#"><%= unusedpins %> </a></li>
    </ul>
  </div>
</div>


<script type="text/javascript ">
    $(function ()
    { $("#home").tooltip()
        $("#acessdb").tooltip()
        $("#createpins").tooltip()
        $("#showpins").tooltip()


    });
</script>
