<script type="text/javascript ">
    $(function ()
    { $("#coursename").tooltip()
     $("#coursedesc").tooltip()
        $("#courseroom").tooltip()
        $("#coursemax").tooltip()
        $("#coursetype").tooltip()
        $("#coursetutor").tooltip()
        $("#courseduration").tooltip()

    });



</script>
<div class="clearfix">
  <label>Course Name</label>
  <div class="input">
    <%=f.text_field :name %>
    <a href="#" id="coursedesc" rel="tooltip" data-original-title="Enter Unique Course Name">
      <i class="icon-exclamation-sign"> </i>

    </a>
  </div>
</div>


<div class="clearfix">
  <label>Course Description</label>
  <div class="input">
    <%=f.text_field :description %>

    <a href="#" id="coursename" rel="tooltip" data-original-title="Describe the Course">
      <i class="icon-exclamation-sign"></i>

    </a>
  </div>
</div>


<!--<div class="clearfix">-->
  <!--<label>Course Start to End Dates</label>-->
  <!--<div class="input">-->
    <!--<div class="inline-inputs">-->
      <!--<input data-datepicker="datepicker" class="small" type="text" value="01/05/2011"><div class="datepicker" style="display: none; "><div class="nav"><div class="months"><span class="prev button">?</span><span class="name"><div class="fg">January</div></span><span class="next button">?</span></div><div class="years"><span class="prev button">?</span><span class="name"><div class="fg">2011</div></span><span class="next button">?</span></div></div><div class="calendar"><div class="dow">Mon</div><div class="dow">Tue</div><div class="dow">Wed</div><div class="dow">Thu</div><div class="dow">Fri</div><div class="dow">Sat</div><div class="dow">Sun</div><div class="days"><div date="12/27/2010" class="overlap">27</div><div date="12/28/2010" class="overlap">28</div><div date="12/29/2010" class="overlap">29</div><div date="12/30/2010" class="overlap">30</div><div date="12/31/2010" class="overlap">31</div><div date="01/01/2011">1</div><div date="01/02/2011">2</div><div date="01/03/2011">3</div><div date="01/04/2011">4</div><div date="01/05/2011" class="selected">5</div><div date="01/06/2011">6</div><div date="01/07/2011">7</div><div date="01/08/2011">8</div><div date="01/09/2011">9</div><div date="01/10/2011">10</div><div date="01/11/2011">11</div><div date="01/12/2011">12</div><div date="01/13/2011">13</div><div date="01/14/2011">14</div><div date="01/15/2011">15</div><div date="01/16/2011">16</div><div date="01/17/2011">17</div><div date="01/18/2011">18</div><div date="01/19/2011">19</div><div date="01/20/2011">20</div><div date="01/21/2011">21</div><div date="01/22/2011">22</div><div date="01/23/2011">23</div><div date="01/24/2011">24</div><div date="01/25/2011">25</div><div date="01/26/2011">26</div><div date="01/27/2011">27</div><div date="01/28/2011">28</div><div date="01/29/2011">29</div><div date="01/30/2011">30</div><div date="01/31/2011">31</div><div date="02/01/2011" class="overlap">1</div><div date="02/02/2011" class="overlap">2</div><div date="02/03/2011" class="overlap">3</div><div date="02/04/2011" class="overlap">4</div><div date="02/05/2011" class="overlap">5</div><div date="02/06/2011" class="overlap">6</div></div></div></div>-->
      <!--<input class="mini" type="text" value="12:00am">-->
      <!--to      <br />-->
      <!--<input data-datepicker="datepicker" class="small" type="text" value="05/08/2011"><div class="datepicker" style="display: none; "><div class="nav"><div class="months"><span class="prev button">?</span><span class="name"><div class="fg">May</div></span><span class="next button">?</span></div><div class="years"><span class="prev button">?</span><span class="name"><div class="fg">2011</div></span><span class="next button">?</span></div></div><div class="calendar"><div class="dow">Mon</div><div class="dow">Tue</div><div class="dow">Wed</div><div class="dow">Thu</div><div class="dow">Fri</div><div class="dow">Sat</div><div class="dow">Sun</div><div class="days"><div date="04/25/2011" class="overlap">25</div><div date="04/26/2011" class="overlap">26</div><div date="04/27/2011" class="overlap">27</div><div date="04/28/2011" class="overlap">28</div><div date="04/29/2011" class="overlap">29</div><div date="04/30/2011" class="overlap">30</div><div date="05/01/2011">1</div><div date="05/02/2011">2</div><div date="05/03/2011">3</div><div date="05/04/2011">4</div><div date="05/05/2011">5</div><div date="05/06/2011">6</div><div date="05/07/2011">7</div><div date="05/08/2011" class="selected">8</div><div date="05/09/2011">9</div><div date="05/10/2011">10</div><div date="05/11/2011">11</div><div date="05/12/2011">12</div><div date="05/13/2011">13</div><div date="05/14/2011">14</div><div date="05/15/2011">15</div><div date="05/16/2011">16</div><div date="05/17/2011">17</div><div date="05/18/2011">18</div><div date="05/19/2011">19</div><div date="05/20/2011">20</div><div date="05/21/2011">21</div><div date="05/22/2011">22</div><div date="05/23/2011">23</div><div date="05/24/2011">24</div><div date="05/25/2011">25</div><div date="05/26/2011">26</div><div date="05/27/2011">27</div><div date="05/28/2011">28</div><div date="05/29/2011">29</div><div date="05/30/2011">30</div><div date="05/31/2011">31</div><div date="06/01/2011" class="overlap">1</div><div date="06/02/2011" class="overlap">2</div><div date="06/03/2011" class="overlap">3</div><div date="06/04/2011" class="overlap">4</div><div date="06/05/2011" class="overlap">5</div></div></div></div>-->
      <!--<input class="mini" type="text" value="11:59pm">-->
      <!--<span class="help-block">All times are shown as Pacific Standard Time (GMT -08:00).</span>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="clearfix">
  <label>Course Room Number</label>
  <div class="input">
    <%=f.text_field :roomnumber %>
    <a href="#" id="courseroom" rel="tooltip" data-original-title="Venue for Course">
      <i class="icon-exclamation-sign"></i>

    </a>
  </div>
</div>

  <div class="clearfix">
    <label>Course Maximum</label>
    <div class="input">
      <%=f.text_field :maxallowed%>
      <a href="#" id="coursemax" rel="tooltip" data-original-title="Maximum Number of Attendees">
        <i class="icon-exclamation-sign"></i>

      </a>
    </div>
    </div>

  <div class="clearfix">
    <label>Course Type</label>
    <div class="input">
      <%= select( :course, :category_of_course, { "Auto Scheduled" => "1", "Optional" => "2","Level 1 Course" =>"3","Level 2 Course" => "4","Compulsory " => "5"}) %>
      <a href="#" id="coursetype" rel="tooltip" data-original-title="Select Course Type">
        <i class="icon-exclamation-sign"></i>

      </a>
    </div>
  </div>


  <div class="clearfix">
    <label>Course Tutor</label>
    <div class="input">
      <%= collection_select(:course, :tutor, Trainer.all, :firstname, :firstname, {:prompt => false},:class=> "text") %>
      <a href="#" id="coursetutor" rel="tooltip" data-original-title="Course Tutor">
        <i class="icon-exclamation-sign"></i>

      </a>

  </div>
</div>

<div class="clearfix">
  <label>Course Duration</label>
  <div class="input">
    <%=f.text_field :duration %>
    <a href="#" id="courseduration" rel="tooltip" data-original-title="Course Duration(hrs)">
      <i class="icon-exclamation-sign"></i>

    </a>
  </div>
</div>
