<div class="span3">
  <div class="well sidebar nav">
    <ul class="nav nav-list">
      <li class="nav header"></li>
      <li class= ><%=link_to "Home", courses_path%></li>
      <li class= ><%=link_to "New Course", new_course_path%></li>

      <li class="nav-header"> Recently Registered Courses</li>
       <li><a href="#"><%=lastthree %></a></li >
       <li class="nav-header">Upcoming Courses</li>
      <li><a href="#">Course 1</a></li>
      <li><a href="#">Course 2</a></li>
      <li><a href="#">Course 3 </a></li>
      <li class="nav-header">Most Active Course</li>
      <li><a href="#">I Love Jesus</a></li>
      <li class="nav-header">Course Category Overview</li>
      <li><a href="#">Level 1 Courses: <%=level1courses %>  </a></li>
      <li><a href="#">Level 2 Courses: <%=level2courses %>  </a></li>
      <li><a href="#">Optional Courses:<%= optional %></a></li>
      <li><a href="#">Compulsory Courses:<%= compulsory %></a></li>
      <li><a href="#">I Love Jesus</a></li>
    </ul>
  </div>
</div>
