<div class="row-fluid" >

        <%= render "sidebar" %>


  <div class="span9">
    <div class="hero-unit">
      <table class="zebra-striped" id="sortTableExample">
        <thead>
        <tr>
          <th> ID</th>
          <th> Name</th>
          <th> Description</th>
          <th>Category </th>
          <th>Tutor</th>
          <th> Capacity</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @course.each do |course| %>

            <tr>
               <td>CS-<%= course.id %></td>
              <td><%= course.name %></td>
              <td><%= course.description %></td>
              <td><%= coursename(params[:id]) %></td>
              <td><%= course.tutor %></td>
              <td><%= course.maxallowed %></td>
              <td><%= link_to 'More ',course, :class => 'btn btn-mini'%></td>
              <td><%= link_to 'Edit', edit_course_path(course),:class => 'btn btn-mini' %></td>



              <td><%= link_to 'Destroy', course, :confirm => 'Are you sure?',
                              :method => :delete , :class => 'btn btn-mini btn-danger'%></td >


        <% end %>
        </tr>
        </tbody>
      </table>
      <%= paginate @course %>
    </div>
  </div>
  </div>
<!--</div> Start-->


