
<div class="row-fluid" >

  <%= render "sidebar" %>


  <div class="span9">
    <div class="hero-unit">


           <%= form_for @course ,:validate => true  do |f|%>

          <%= render 'form' ,:f => f%>


          <div class="actions">
            <%= f.submit "I'm Done",:class=> "btn btn-primary" %>
            <%= link_to 'Cancel', courses_path,:class => "btn" %>
          </div>

      <% end %>
    </div>
  </div>
  <div class="span5">
    <p></p>
  </div>
</div>