<div class="content" id="index">

 <% if logged_in? and current_user.admin? %>
<%=link_to "", new_trainer_path,:style =>"background-image:url(/images/createtrainer.jpg)" %>
<%=link_to "", trainers_path,:style =>"background-image:url(/images/edittrainer.jpg)" %>
<%=link_to "", trainers_path,:style =>"background-image:url(/images/showtrainers.jpg)" %>
      <% else%>
      <%=link_to "", "",:style =>"background-image:url(/images/createtrainer.jpg)" %>
      <%=link_to "", "",:style =>"background-image:url(/images/edittrainer.jpg)" %>
      <%=link_to "", "",:style =>"background-image:url(/images/showtrainers.jpg)" %>
  <% end %>
    </div>