<script type="text/javascript ">
    $(function ()
    { $("#firstname").tooltip()
        $("#lastname").tooltip()
        $("#mobile").tooltip()
        $("#emailaddress").tooltip()
        $("#teaches").tooltip()
        $("#sex").tooltip()
        $("#doj").tooltip()
        $("#photo").tooltip()


    });
 </script>


<div class="clearfix">
  <label>First Name</label>
  <div class="input">
    <%=f.text_field :firstname %>
    <a href="#" id="firstname" rel="tooltip" data-original-title="As on Official Documents">
      <i class="icon-exclamation-sign"></i>

    </a>
  </div>
</div>


<div class="clearfix">
  <label>Last Name</label>
  <div class="input">
    <%=f.text_field :lastname%>
    <a href="#" id="lastname" rel="tooltip" data-original-title="As on Official Documents">
      <i class="icon-exclamation-sign"></i>

    </a>
  </div>
</div>

<div class="clearfix">
  <label>Mobile Number</label>
  <div class="input">
    <%=f.text_field :mobile %>
    <a href="#" id="mobile" rel="tooltip" data-original-title="We would reach you on this">
      <i class="icon-exclamation-sign"></i>

    </a>
  </div>
</div>

<div class="clearfix">
  <label>Email Address</label>
  <div class="input">
    <%=f.text_field :email %>
    <a href="#" id="emailaddress" rel="tooltip" data-original-title="MUST be same as the one you signed up with">
      <i class="icon-exclamation-sign"></i>

    </a>
  </div>
</div>

<div class="clearfix">
  <label>Teaches:</label>
  <div class="input">
    <%= collection_select(:trainer, :handle, Course.all, :name, :name, {:prompt => false},:class=> "text") %>
    <a href="#" id="teaches" rel="tooltip" data-original-title="Course this Tutor Teaches">
      <i class="icon-exclamation-sign"></i>

    </a>
  </div>
</div>


<div class="clearfix">
  <label>Sex</label>
  <div class="input">
    <%= select( :trainer, :sex, { "Male" => "Male", "Female" => "Female"},{}, {:class=>"text"}) %>
    <a href="#" id="sex" rel="tooltip" data-original-title="Male or Female?">
      <i class="icon-exclamation-sign"></i>

    </a>
  </div>
</div>

<div class="clearfix">
  <label>Photo</label>
  <div class="input">
    <%= f.file_field :avatar %>
    <a href="#" id="photo" rel="tooltip" data-original-title="Should be Recent">
      <i class="icon-exclamation-sign"></i>

    </a>
  </div>
</div>


<div class="clearfix">
  <label>Date of Joining</label>
  <div class="input">
    <span class="xlarge uneditable-input"><%= Time.now.strftime("%d %b. %Y") %></span>

  </div>
</div>
