<div class="span3">
  <div class="well sidebar nav">
    <ul class="nav nav-list">

      <li class= "<%= is_active?("dashboard") %>" data-original-title=" Takes you to Admin Home" id="home" ><%=link_to "Trainer Dashboard", trainers_dashboard_path%></li>

      <li class= "<%= is_active?("show")  %>" data-original-title=" View and Edit your Details" id=details ><%=link_to "My Details", trainer_path(current_trainer)%></li>
      <li class= "<%= is_active?("attendance") %>" data-original-title=" Take Your Attendance" id="attendance"  ><%=link_to "Manage Attendance ", trainers_attendance_path%></li>
      <li class= "<%= is_active?("print") %>" data-original-title=" Print your Student List" id="print" ><%=link_to "Print Student List", trainer_path(current_trainer)%></li>

      <li class="nav-header"> Course(s) You Handle</li>

      <li><a href="#"><%= handledcourses %></a></li >

      <li class="nav-header">Courses Due Soon</li>
      <li><a href="#">Course 1 Due 23rd April 2012</a></li>
      <li><a href="#">Course 1 Due 23rd April 2012</a></li>
      <li><a href="#">Course 1 Due 23rd April 2012</a></li>


      <li class="nav-header">Announcement</li>
      <li><a href="#">You currently have no Announcements</a></li>
    </ul>
  </div>
</div>
<script type="text/javascript ">
    $(function ()
    { $("#home").tooltip()
        $("#details").tooltip()
        $("#attendance").tooltip()
        $("#print").tooltip()


    });
</script>