
<div class="row-fluid" >
  <%= render "sidebar" %>
  <div class="span9" >
    <div class="hero-unsit">
      <%= form_for @trainer   do |f|%>
          <%= render 'form' ,:f => f%>

          <div class="actions">
            <%= f.submit "I'm Done",:class=> "btn btn-primary" %>
            <%= link_to 'Cancel', root_path,:class => "btn" %>
          </div>

      <% end %>
    </div>
  </div>

</div>



