<div class="topbar">

  <div class="fill">
    <div class="container">
      <h3><a class="brand">Course+</a></h3>
      <ul>

        <li class= "<%= is_active?("home") %>" ><%=link_to ".Home",  root_path %></li>
        <li class= "<%= is_active?("contact") %>"> <%=link_to ".Contact Us ", contact_path %></li>
        <li class= "<%= is_active?("whoweare") %>"> <%=link_to ".Who We Are ", whoweare_path %></li>
        <li class= "<%= is_active?("whatwedo") %>"><%=link_to ".What we Do ", whatwedo_path  %> </li>
        <li class= "<%= is_active?("ourcourses") %>"><%=link_to ".Our Courses ", ourcourses_path  %> </li>
        <li class= "<%= is_active?("blog") %>"><%=link_to ".Blog", "http://coursex.posterous.com"  %> </li>
        <% if logged_in? %>
            <li class= "<%= is_active?("help") %>"><%=link_to "Documentation", help_path  %> </li>
        <% end %>

      </ul>
      <% if logged_in?  %>

     <ul class="nav secondary-nav">
      <li class="menu">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%=current_user.email  %> <b class="caret"></b></a>
        <ul id="menu1" class="dropdown-menu">

          <li><%=link_to "Dashboard", users_dashboard_path %></li>



          <li><%=link_to "Logout" ,logout_path %></li>
          <li> <%= link_to "Change Password", new_password_reset_path%></li>



        </ul>
        </ul>
            <% end %>

    </div>
  </div>
</div>

