<header>

  <div class="header">
    <div id="logo" class="logo">
      <a href="/" title="CourseX"><img src="/images/logo_small.png" alt="CourseX"/></a>
    </div>

    <nav>
       <ul>
        <li class="home ">
        </li>
        <li><%=link_to "Home", root_path  %></li>
        <li><%=link_to "Contact Us", root_path  %></li>
        <li><%=link_to "Who We Are", root_path  %></li>
        <li><%=link_to "What we Do", root_path  %> </li>
         <li><%=link_to "Our Courses", root_path  %> </li>
         <li><%=link_to "Blog", "http://coursex.posterous.com"  %> </li>
         </ul>
    </nav>

    <div id="user-block">
      <div id="user-menu">
        <% if current_user %>
            <div class="home">
              Welcome <%= current_user.email %>|
              <%= link_to "Log out", logout_path %>
            </div>
            <% else %>
            <a class="btn-small-yellow bg-green" id="singup" href="/login">
              <span> Sign In</span>

        </a>
        <span class="sign-up-separator">or</span>
        <a class="btn-small-yellow bg-green" id="singup" href="/signup">
         <span> Sign up</span>
          <% end %>
        </a>
      </div>
    </div>
  </div>
</header>
<hr  />
